nav{
    background-color: #2A9DA9; 
    /* background-color: none; */
}

.car{
    background-color: #000;
}
.logo-img{
    width: 40px;
}

.qn-section{
    background-color: #000;
}

.qn-section img{
    max-height: 160px;
}
.line{
    background-color: #2A9DA9;
    width: 90%;
}
.icon-section{
    width: 100%;
    background-color: #2A9DA9;
}

.card-body{
    background-color: #2A9DA9;
}

.card:hover{
    cursor: pointer;
}

/* Contacto */
.contacto-section{
    background-color: #000;
}

/* Footer */
footer{
    background-color: #2A9DA9;
    font-size: 2rem;
}

