nav{
    background-color: #2A9DA9;
}

.logo-img{
    width: 40px;
}

.qn-section{
    background-color: #000;
}

.line{
    background-color: #2A9DA9;
    width: 90%;
}
.icon-section{
    width: 100%;
    background-color: #2A9DA9;
}

